/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Joan&family=Poppins:wght@500&display=swap");
/* common styles or utilities*/
body {
  font-family: "Poppins", sans-serif;
}
header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 90px;
}
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 20px;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, fr);
  justify-content: center;
  justify-items: center;
}
.first-part {
  width: 80%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.first-part h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
}
hr {
  border-top: 1px solid black;
  width: 80%;
}
.sponsor {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.popular-collection {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-collection h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.products {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  justify-content: space-evenly;
}
.product {
  background-color: whitesmoke;
  /* border: 5px solid red; */
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}
.product img {
  width: 100%;
}
.product h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.fa-star {
  font-size: 12px;
}
.filled {
  color: #ffc014;
}
.unfilled {
  color: #aeaeae;
}
/* ------------------------
------------------button */
.see-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-div {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.See-more {
  margin-top: 20px;
  text-decoration: none;
  color: #e02c6d;
}
.button a {
  text-decoration: none;
  color: aliceblue;
}
.button {
  text-decoration: none;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;
  gap: 8px;
}

/* -----------------------media----------
----------------------------------------- */
@media only screen and (max-width: 688px) {
  body {
    width: 100%;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(1, fr);
  }
  .first-part {
    flex-direction: column-reverse;
  }
  .popular-collection {
    margin: 0;
    width: 100%;
  }
  .sponsor {
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
  }
  hr {
    display: none;
  }

  .products {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}
